<div class="d-flex">
  <small>例：</small>
  <div class="d-flex flex-wrap">
    <%= search_btn_to '生物' %>
    <%= search_btn_to '再生' %>
    <%= search_btn_to '看護 小児' %>
    <%= search_btn_to '医 癌' %>
    <%= search_btn_to '歯 療' %>
    <%= search_btn_to '東京都 医' %>
  </div>
</div>
