<!DOCTYPE html>
<html>
<head>
  <title>Dokode</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'application/favicon' %>
  <%= analytics_init if Rails.env.production? && GoogleAnalytics.valid_tracker? %>
  <link rel="manifest" href="/manifest.json"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="content-language" content="ja">
</head>

<body>
<div class="container">
  <%= render partial: 'layouts/flash_alert' %>
</div>
<div class="container">
  <%= render partial: 'layouts/header' %>
</div>
<%= yield %>
<div class="container">
  <%= render partial: 'layouts/footer' %>
</div>
</body>
</html>
